# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# Logs and temp files
*.log
*.tmp

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Results and generated data
data/results/*.csv
data/results/*.png
